{{#partial "content"}}
    <hr>
    <div class="jumbotron">Your Backpack!</div>
    <hr>
    <div class="container">
        <div class="row">
        {{#each packedGoods}}
            <div class="col-md-3">
                <h3>{{itemName}}</h3>
                <p>Price: ${{itemPrice}}</p>
                <p>Weight: {{itemWeight}} kg</p>
                <p>Quantity: {{quantity}}</p>
            </div>
        {{/each}}
        </div>
    </div>

{{/partial}}
{{#partial "footer"}}
    <div class="row container" id="output">
        <p>Total price: ${{backpack.totalCost}}</p>
        <p>Total weight: {{backpack.totalWeight}}</p>
    </div>
{{/partial}}

{{> layout.hbs}}